<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/home.css' />

    <% include ../views/partials/head %>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/javascripts/home.js"></script>
    
  </head>
  <header>
    <% include ../views/partials/header %>
  </header>
<body>
  <h3>Hello</h3>
  <div class='container'>
  
  </div>
	   
</body>


</html>